{% extends 'base.html' %}

{% block style %}
    /static/css/main.css
{% endblock %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
<div class="content-container">
    <div>
        <h1 class="title">Расписание <span>событий</span> гаража</h1>
        <p class="description">Мы предоставляем площадку для самых разных мероприятий и будем рады видеть вас!</p>
    </div>
    <div class="schedule-container">
        {% for event in events %}
        <div class="schedule-element">
            <p class="event-title">{{event.title}}</p>
            <p class="event-datetime">{{event.date}} - {{event.time}}</p>
            <p class='event-registration'><a href="/registration/{{event.id}}">Регистрация</a></p>
        </div>
        {% endfor %}
        {% if not events %}
        <div class="schedule-element">
            <p class="event-title">Пока ничего нет</p>
            <p class="event-datetime">Следите за обновлениями!</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}